<div class="row">
   <div class="small-12 column text-center  space-default-bottom" translate>
      <h4 translate>Please confirm deletion of item <strong>{{modalVm.data}}</strong>.</h4>
   </div>
   <div class="small-12 medium-8 large-6 column medium-centered">
      <div class="row">
         <div class="small-6 column">
            <button class="radius expand no-margin" ng-click="modalVm.nok()" translate>Cancel</button>
         </div>
         <div class="small-6 column">
            <button class="radius alert expand no-margin" ng-click="modalVm.ok()" translate>Confirm</button>
         </div>
      </div>
   </div>
</div>