$password-col-width: 150px;
$type-col-width: 75px;
$tools-col-width: 44px;

.passwords {
   th, td {
      @media #{$medium-up} {
         &:nth-child(1) {
            width: rem-calc($password-col-width);
         }
      }

      &:nth-child(2) {
         width: rem-calc($type-col-width);
      }

      &:last-child {
         width: rem-calc($tools-col-width);
         text-align: center;
      }
   }

   a {
      border-bottom: $has-tip-border-bottom;

      &:hover {
         border-bottom: $has-tip-border-bottom-hover;
      }
   }
}

.password {
   font-family: $font-family-monospace !important;
}

i.preffix {
   margin-right: rem-calc(3px);
}