<!DOCTYPE html>
<head>
   <title translate translate-comment="app name">I&I Game</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
   <!-- build:css(.) css/vendor.min.css -->
   <!-- bower:css -->
   <link rel="stylesheet" href="bower_components/foundation-icon-fonts/foundation-icons.css" />
   <!-- endbower -->
   <!-- endbuild -->
   <!-- build:css(.tmp) css/style.min.css -->
   <link rel="stylesheet" href="styles/main.css">
   <!-- endbuild -->
</head>
<body ng-app="iigame" ng-controller="CoreCtrl as coreVm" ng-strict-di>
   <!-- app not loaded -->
   <div class="row">
      <div class="small-12 column no-menu" ng-include="'spinner.html'" ng-if="!coreVm.isAppLoaded()"></div>
   </div>
   <!-- app loaded -->
   <div class="off-canvas-wrap" ng-if="coreVm.isAppLoaded()">
      <div class="inner-wrap">
         <nav class="tab-bar">
            <section class="left-small">
               <a class="left-off-canvas-toggle menu-icon"><span></span></a>
            </section>

            <section class="right-small">
               <a class="right-off-canvas-toggle menu-icon"><span></span></a>
            </section>
         </nav>

         <div ng-include="'menu.html'"></div>

         <section class="main-section">
            <div class="row">
               <!-- page not loaded -->
               <div class="small-12 column" ng-show="!coreVm.isPageLoaded()" ng-include="'spinner.html'"></div>
               <!-- page loaded -->
               <div class="small-12 column space-larger-bottom" ng-show="coreVm.isPageLoaded()" ui-view></div>
            </div>
         </section>

         <a class="exit-off-canvas"></a>
      </div>
   </div>

   <!-- build:js(.) js/vendor.min.js -->
   <!-- bower:js -->
   <script src="bower_components/jquery/dist/jquery.js"></script>
   <script src="bower_components/angular/angular.js"></script>
   <script src="bower_components/angular-cookies/angular-cookies.js"></script>
   <script src="bower_components/angular-foundation/mm-foundation-tpls.js"></script>
   <script src="bower_components/angular-gettext/dist/angular-gettext.js"></script>
   <script src="bower_components/angular-messages/angular-messages.js"></script>
   <script src="bower_components/angular-password/angular-password.js"></script>
   <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
   <script src="bower_components/firebase/firebase.js"></script>
   <script src="bower_components/angularfire/dist/angularfire.js"></script>
   <script src="bower_components/fastclick/lib/fastclick.js"></script>
   <script src="bower_components/jquery.cookie/jquery.cookie.js"></script>
   <script src="bower_components/jquery-placeholder/jquery.placeholder.js"></script>
   <script src="bower_components/foundation/js/foundation.js"></script>
   <!-- endbower -->
   <!-- endbuild -->

   <!-- build:js(.tmp) js/scripts.min.js -->
   <script src="other/alertTpl.js"></script>
   <script src="app.module.js"></script>
   <script src="constants/constants.module.js"></script>
   <script src="constants/roles.constant.js"></script>
   <script src="constants/modules.constant.js"></script>
   <script src="error/error.module.js"></script>
   <script src="error/error.controller.js"></script>
   <script src="alerts/alerts.module.js"></script>
   <script src="alerts/alerts.service.js"></script>
   <script src="alerts/alerts.controller.js"></script>
   <script src="core/core.module.js"></script>
   <script src="core/config.service.js"></script>
   <script src="core/firebase.service.js"></script>
   <script src="core/session.service.js"></script>
   <script src="core/auth.service.js"></script>
   <script src="core/core.controller.js"></script>
   <script src="filters/filters.module.js"></script>
   <script src="filters/object.filter.js"></script>
   <script src="menu/menu.module.js"></script>
   <script src="menu/menu.controller.js"></script>
   <script src="check/check.module.js"></script>
   <script src="check/check.controller.js"></script>
   <script src="login/login.module.js"></script>
   <script src="login/login.controller.js"></script>
   <script src="passwords/passwords.module.js"></script>
   <script src="passwords/passwords.controller.js"></script>
   <script src="users/users.module.js"></script>
   <script src="users/users.controller.js"></script>
   <script src="settings/settings.module.js"></script>
   <script src="settings/settings.controller.js"></script>
   <script src="about/about.module.js"></script>
   <script src="about/about.controller.js"></script>
   <!-- endbuild -->

</body>
</html>
