<aside class="left-off-canvas-menu" ng-controller="MenuCtrl as menuVm">
   <ul class="off-canvas-list">
      <li ng-if="menuVm.isHomeVisible"><a ui-sref="check" translate>Home</a></li>
      <li ng-if="menuVm.isPasswordsVisible"><a ui-sref="passwords" translate>Passwords</a></li>
   </ul>
</aside>

<aside class="right-off-canvas-menu" ng-controller="MenuCtrl as menuVm">
   <ul class="off-canvas-list">
      <li ng-if="menuVm.isLoginVisible"><a ui-sref="login" translate>Login</a></li>
      <li ng-if="menuVm.isLogoutVisible"><a ui-sref="login" translate>Logout</a></li>
      <li ng-if="menuVm.isSettingsVisible"><a ui-sref="settings" translate>Settings</a></li>
      <li ng-if="menuVm.isUsersVisible"><a ui-sref="users" translate>Users</a></li>
      <li ng-if="menuVm.isAboutVisible"><a ui-sref="about" translate>About</a></li>
   </ul>
</aside>