<div class="small-12 column text-center">
   <h2 translate translate-comment="headline">Login</h2>
</div>
<form name="vm.loginForm" novalidate>
   <div class="small-12 column">
      <input type="text" name="login" placeholder="{{'Login' | translate}}" class="radius" ng-model="vm.auth.login" required
             ng-class="{'error': (vm.loginForm.$submitted || vm.loginForm.login.$dirty) && vm.loginForm.login.$invalid}" ng-pattern="/^[a-z]+$/">

      <div ng-messages="vm.loginForm.login.$error" ng-if="vm.loginForm.$submitted || vm.loginForm.login.$dirty"
           ng-messages-multiple="ng-messages-multiple">
         <small class="error" ng-message="required">This field is mandatory.</small>
         <small class="error" ng-message="pattern" translate>Only small letters are allowed.</small>
      </div>
   </div>
   <div class="small-12 column">
      <input type="password" name="password" placeholder="{{'Password' | translate}}" class="radius" ng-model="vm.auth.password" required
             ng-class="{'error': (vm.loginForm.$submitted || vm.loginForm.password.$dirty) && vm.loginForm.password.$invalid}"/>

      <div ng-messages="vm.loginForm.password.$error" ng-if="vm.loginForm.$submitted || vm.loginForm.password.$dirty"
           ng-messages-multiple="ng-messages-multiple">
         <small class="error" ng-message="required">This field is mandatory.</small>
      </div>
   </div>
   <div class="small-12 column">
      <input type="checkbox" name="rememberLogin" id="rememberLogin" ng-model="vm.rememberLogin" ng-value="true"/>
      <label for="rememberLogin" translate>Remember my login</label>
   </div>
   <div class="small-12 column">
      <button type="submit" class="expand radius" ng-click="vm.login()" translate>Submit</button>
   </div>
   <div class="small-12 column text-center">
      <a href="" ng-click="vm.changeTemplate(vm.templates.resetPasswd)" translate>Forgotten password?</a>
   </div>
</form>