<div class="row">

   <!-- headline -->
   <div class="small-12 column">
      <h1 translate translate-comment="headline">Users</h1>
   </div>

   <!-- alerts -->
   <div ng-include="'alerts.html'"></div>

   <!-- Firebase info -->
   <div class="small-12 column">
      <div class="panel radius" ng-show="!vm.addingUser">
         <p ng-if="vm.areUsersDisabled" class="security-info" translate>
            <i class="fi-info"></i>Users addition was disabled in Firebase. To allow it, please login into <a href="{{vm.getFirebaseSecurityUrl()}}" target="_blank">your Firebase</a> and change security rules by copying and pasting the code below.
         </p>

         <p ng-if="!vm.areUsersDisabled" class="security-info" translate>
            <i class="fi-alert"></i>Don't forget to disable users addition when you are done. You can do it in <a href="{{vm.getFirebaseSecurityUrl()}}" target="_blank">your Firebase</a> by changing security rules by copying and pasting the code below.
         </p>

         <a ng-click="vm.changeRulesVisibility()">{{vm.getSnippetMsg()}}</a>
         <div class="space-default-top" ng-show="vm.areRulesShown" hljs hljs-source="vm.areUsersDisabled ? vm.getAllowedJSON() : vm.getDisabledJSON()"></div>
      </div>
   </div>

   <!-- add user button -->
   <div class="small-12 medium-6 large-4 left column" ng-if="!vm.addingUser && !vm.areUsersDisabled">
      <button class="radius expand" ng-click="vm.addUser(true)" translate>Add user</button>
   </div>

   <!-- add user form -->
   <div class="small-12 medium-6 large-4 left column" ng-if="vm.addingUser && !vm.areUsersDisabled">
      <div class="panel form radius space-larger-bottom">
         <div class="row">
            <form name="vm.userForm" novalidate>

               <!-- login -->
               <div class="small-12 column">
                  <input name="login" ng-model="vm.newUser.login" type="text" placeholder="{{'Username' | translate}}" class="radius" required ng-maxlength="16"
                         ng-class="{'error': (vm.userForm.$submitted || vm.userForm.login.$dirty) && vm.userForm.login.$invalid}" ng-pattern="/^[a-z]+$/"/>

                  <div ng-messages="vm.userForm.login.$error" ng-if="vm.userForm.$submitted || vm.userForm.login.$dirty"
                        ng-messages-multiple="ng-messages-multiple">
                     <small class="error" ng-message="required">{{'This field is mandatory.'|translate}}</small>
                     <small class="error" ng-message="pattern">{{'Only small letters are allowed.'|translate}}</small>
                     <small class="error" ng-message="maxlength">{{'Maximum length is 16.'|translate}}</small>
                  </div>
               </div>

               <!-- role -->
               <div class="small-12 column">
                  <div ng-class="{'error': (vm.userForm.$submitted || vm.userForm.role.$dirty) && vm.userForm.role.$invalid}">
                     <div class="inline">
                        <input type="radio" name="role" value="dom" id="dom" ng-model="vm.newUser.role" ng-value="0" required/>
                        <label for="dom" translate>dom</label>
                     </div>
                     <div class="inline">
                        <input type="radio" name="role" value="sub" id="sub" ng-model="vm.newUser.role" ng-value="1" required/>
                        <label for="sub" translate>sub</label>
                     </div>
                  </div>
                  <div ng-messages="vm.userForm.role.$error" ng-if="vm.userForm.$submitted || vm.userForm.role.$dirty"
                       ng-messages-multiple="ng-messages-multiple">
                     <small class="error" ng-message="required">{{'This field is mandatory.'|translate}}</small>
                  </div>
               </div>

               <!-- mail -->
               <div class="small-12 column">
                  <input name="mail" ng-model="vm.newUser.mail" type="email" placeholder="{{'E-mail' | translate}}"
                         class="radius" required ng-class="{'error': (vm.userForm.$submitted || vm.userForm.mail.$dirty) && vm.userForm.mail.$invalid}"/>

                  <div ng-messages="vm.userForm.mail.$error" ng-if="vm.userForm.$submitted || vm.userForm.mail.$dirty"
                       ng-messages-multiple="ng-messages-multiple">
                     <small class="error" ng-message="required">{{'This field is mandatory.'|translate}}</small>
                     <small class="error" ng-message="email">{{'The text isn\'t a valid e-mail.'|translate}}</small>
                  </div>
               </div>

               <!-- password -->
               <div class="small-12 column">
                  <input type="password" name="newPassword" placeholder="{{'Password' | translate}}" ng-model="vm.newUser.password.new" class="radius" required
                         ng-class="{'error': (vm.userForm.$submitted || vm.userForm.newPassword.$dirty) && vm.userForm.newPassword.$invalid}"
                         ng-pattern="/^[a-zA-Z0-9]+$/" ng-minlength="6">

                  <div ng-messages="vm.userForm.newPassword.$error" ng-if="vm.userForm.$submitted || vm.userForm.newPassword.$dirty"
                       ng-messages-multiple="ng-messages-multiple">
                     <small class="error" ng-message="required">{{'This field is mandatory.'|translate}}</small>
                     <small class="error" ng-message="pattern">{{'Only letters and digits are allowed.'|translate}}</small>
                     <small class="error" ng-message="minlength">{{'Minimum length is 6.'|translate}}</small>
                  </div>
               </div>

               <!-- password match -->
               <div class="small-12 column">
                  <input type="password" name="confirmPassword" match-password="newPassword" placeholder="{{'Password again' | translate}}" required
                         ng-model="vm.newUser.password.confirm" class="radius"
                         ng-class="{'error': (vm.userForm.$submitted || vm.userForm.confirmPassword.$dirty) && vm.userForm.confirmPassword.$invalid}"/>

                  <div ng-messages="vm.userForm.confirmPassword.$error" ng-if="vm.userForm.$submitted || vm.userForm.confirmPassword.$dirty"
                       ng-messages-multiple="ng-messages-multiple">
                     <small class="error" ng-message="required">{{'This field is mandatory.'|translate}}</small>
                     <small class="error" ng-message="passwordMatch">{{'Your passwords don\'t match.'|translate}}</small>
                  </div>
               </div>

               <!-- buttons -->
               <div class="small-6 column">
                  <button type="button" class="expand radius no-margin" ng-click="vm.createUserCancel()" translate>Cancel</button>
               </div>
               <div class="small-6 column">
                  <button type="submit" class="expand radius no-margin" ng-click="vm.createUser()" translate>Submit</button>
               </div>

            </form>
         </div>
      </div>
   </div>

   <!-- users -->
   <div class="small-12 column" ng-show="vm.users.$value === null">
      <div class="panel radius" translate>No user is defined.</div>
   </div>

   <div class="small-12 column"  ng-hide="vm.users.$value === null">
      <table>
         <thead>
            <tr>
               <th translate>Username</th>
               <th class="hide-for-small" translate>E-mail</th>
               <th translate>Role</th>
            </tr>
         </thead>
         <tbody>
            <tr ng-repeat="user in vm.users | orderObjectBy:'login'">
               <td>{{user.login}}</td>
               <td class="hide-for-small">{{vm.logins[user.login].mail}}</td>
               <td>{{user.role}}</td>
            </tr>
         </tbody>
      </table>
   </div>

</div>
