<div class="small-12 column text-center">
   <h2 translate translate-comment="headline">Employer Log In</h2>
</div>
<form name="vm.checkForm" novalidate>
   <div class="small-12 column">
      <input type="text" name="login" placeholder="{{'Username' | translate}}" class="radius" ng-model="vm.check.login" required
             ng-class="{'error': (vm.checkForm.$submitted || vm.checkForm.login.$dirty) && vm.checkForm.login.$invalid}" ng-pattern="/^[a-z]+$/">

      <div ng-messages="vm.checkForm.login.$error" ng-if="vm.checkForm.$submitted || vm.checkForm.login.$dirty"
           ng-messages-multiple="ng-messages-multiple">
         <small class="error" ng-message="required">{{'This field is mandatory.'|translate}}</small>
         <small class="error" ng-message="pattern">{{'Only small letters are allowed.'|translate}}</small>
      </div>
   </div>
   <div class="small-12 column">
      <input type="password" name="password" placeholder="{{'Password' | translate}}" class="radius" ng-model="vm.check.password" required
             ng-class="{'error': (vm.checkForm.$submitted || vm.checkForm.password.$dirty) && vm.checkForm.password.$invalid}"/>

      <div ng-messages="vm.checkForm.password.$error" ng-if="vm.checkForm.$submitted || vm.checkForm.password.$dirty"
           ng-messages-multiple="ng-messages-multiple">
         <small class="error" ng-message="required">{{'This field is mandatory.'|translate}}</small>
      </div>
   </div>
   <div class="small-12 column">
      <input type="checkbox" name="rememberCheckLogin" id="rememberCheckLogin" ng-model="vm.rememberCheckLogin" ng-value="true"/>
      <label for="rememberCheckLogin" translate>Remember employer username</label>
   </div>
   <div class="small-12 column">
      <button type="submit" class="expand radius no-margin" ng-click="vm.checkPassword()" translate>Submit</button>
   </div>
</form>