<!-- alerts -->
<div class="row">
   <div ng-include="'alerts.html'" ng-class="{'space-larger-top': vm.hasAlerts()}"></div>
</div>

<!-- templates -->
<div class="row">
   <div class="small-12 medium-6 large-4 column small-centered" ng-class="{'login-space': !vm.hasAlerts()}">
      <div class="panel form radius">
         <!-- login -->
         <div class="row" ng-if="vm.isTemplateVisible(vm.templates.login)" ng-include="'login.login.html'"></div>
         <!-- reset password -->
         <div class="row" ng-if="vm.isTemplateVisible(vm.templates.resetPasswd)" ng-include="'login.reset.html'"></div>
         <!-- reset password done -->
         <div class="row" ng-if="vm.isTemplateVisible(vm.templates.resetPasswdDone)" ng-include="'login.resetDone.html'"></div>
         <!-- logout -->
         <div class="row" ng-if="vm.isTemplateVisible(vm.templates.logout)" ng-include="'login.logout.html'"></div>
      </div>
   </div>
</div>