<!DOCTYPE html>
<head>
   <title translate translate-comment="app name">I&I Game</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
   <!-- build:css(.) css/vendor.min.css -->
   <link rel="stylesheet" href="lib/highlightjs/railscasts.min.css" />
   <!-- bower:css -->
   <!-- endbower -->
   <!-- endbuild -->
   <!-- build:css(.tmp) css/style.min.css -->
   <link rel="stylesheet" href="styles/main.css">
   <!-- endbuild -->
   <!-- favicon -->
   <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-touch-icon-57x57.png?v=3">
   <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-touch-icon-60x60.png?v=3">
   <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-touch-icon-72x72.png?v=3">
   <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-touch-icon-76x76.png?v=3">
   <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-touch-icon-114x114.png?v=3">
   <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-touch-icon-120x120.png?v=3">
   <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-touch-icon-144x144.png?v=3">
   <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-touch-icon-152x152.png?v=3">
   <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon-180x180.png?v=3">
   <link rel="icon" type="image/png" href="favicon/favicon-32x32.png?v=3" sizes="32x32">
   <link rel="icon" type="image/png" href="favicon/android-chrome-192x192.png?v=3" sizes="192x192">
   <link rel="icon" type="image/png" href="favicon/favicon-96x96.png?v=3" sizes="96x96">
   <link rel="icon" type="image/png" href="favicon/favicon-16x16.png?v=3" sizes="16x16">
   <link rel="manifest" href="favicon/manifest.json?v=3">
   <link rel="mask-icon" href="favicon/safari-pinned-tab.svg?v=3" color="#facf5e">
   <link rel="shortcut icon" href="favicon/favicon.ico?v=3">
   <meta name="apple-mobile-web-app-title" content="I&I Game">
   <meta name="application-name" content="I&I Game">
   <meta name="msapplication-TileColor" content="#ffc40d">
   <meta name="msapplication-TileImage" content="favicon/mstile-144x144.png?v=3">
   <meta name="msapplication-config" content="favicon/browserconfig.xml?v=3">
   <meta name="theme-color" content="#facf5e">
   <!-- endfavicon -->
</head>
<body ng-app="iigame" ng-controller="CoreCtrl as coreVm" ng-strict-di>
   <!-- app not loaded -->
   <div class="row">
      <div class="small-12 column no-menu" ng-include="'spinner.html'" ng-if="!coreVm.isAppLoaded()"></div>
   </div>
   <!-- app loaded -->
   <div class="off-canvas-wrap" ng-if="coreVm.isAppLoaded()">
      <div class="inner-wrap">
         <nav class="tab-bar">
            <section class="left-small">
               <a class="left-off-canvas-toggle menu-icon"><span></span></a>
            </section>

            <section class="right-small">
               <a class="right-off-canvas-toggle menu-icon"><span></span></a>
            </section>
         </nav>

         <div ng-include="'menu.html'"></div>

         <section class="main-section">
            <div class="row">
               <!-- page not loaded -->
               <div class="small-12 column" ng-show="!coreVm.isPageLoaded()" ng-include="'spinner.html'"></div>
               <!-- page loaded -->
               <div class="small-12 column space-larger-bottom" ng-show="coreVm.isPageLoaded()" ui-view></div>
            </div>
         </section>

         <a class="exit-off-canvas"></a>
      </div>
   </div>

   <!-- build:js(.) js/vendor.min.js -->
   <script src="lib/highlightjs/highlight.min.js"></script>
   <!-- bower:js -->
   <!-- endbower -->
   <!-- endbuild -->

   <!-- build:js(.tmp) js/scripts.min.js -->
   <!-- ngsrc -->
   <!-- endbuild -->

</body>
</html>
