<div class="row">

   <!-- headline -->
   <div class="small-12 column">
      <h1 translate translate-comment="headline">Passwords</h1>
   </div>

   <!-- alerts -->
   <div ng-include="'alerts.html'"></div>

   <!-- add password button -->
   <div class="small-12 medium-6 large-4 left column" ng-if="!vm.addingPassword">
      <button class="radius expand" ng-click="vm.setAddingPassword(true)" translate>Add password</button>
   </div>

   <!-- add password form -->
   <div class="small-12 medium-6 large-4 left column" ng-if="vm.addingPassword">
      <div class="panel form radius space-larger-bottom">
         <div class="row">
            <form name="vm.paaswordForm" novalidate>

               <!-- password -->
               <div class="small-12 column">
                  <input name="password" ng-model="vm.password.password" type="text" placeholder="{{'Password' | translate}}" class="radius password" required
                         ng-class="{'error': (vm.paaswordForm.$submitted || vm.paaswordForm.password.$dirty) && vm.paaswordForm.password.$invalid}"
                         ng-pattern="/^[a-z]+$/" ng-maxlength="16" />

                  <div ng-messages="vm.paaswordForm.password.$error" ng-if="vm.paaswordForm.$submitted || vm.paaswordForm.password.$dirty"
                        ng-messages-multiple="ng-messages-multiple">
                     <small class="error" ng-message="required">{{'This field is mandatory.'|translate}}</small>
                     <small class="error" ng-message="pattern">{{'Only small letters are allowed.'|translate}}</small>
                     <small class="error" ng-message="maxlength">{{'Maximum length is 16.'|translate}}</small>
                  </div>
               </div>

               <!-- type -->
               <div class="small-12 column">
                  <div ng-class="{'error': (vm.paaswordForm.$submitted || vm.paaswordForm.type.$dirty) && vm.paaswordForm.type.$invalid}">
                     <div class="inline">
                        <input type="radio" name="type" value="fake" id="fake" ng-model="vm.password.type" ng-value="0" required/>
                        <label for="fake">
                           <i class="fi-x preffix alert-color"></i>
                           <span class="alert-color" translate>fake</span>
                        </label>
                     </div>
                     <div class="inline">
                        <input type="radio" name="role" value="real" id="real" ng-model="vm.password.type" ng-value="1" required/>
                        <label for="real">
                           <i class="fi-check preffix success-color"></i>
                           <span class="success-color" translate>real</span>
                        </label>
                     </div>
                  </div>
                  <div ng-messages="vm.paaswordForm.type.$error" ng-if="vm.paaswordForm.$submitted || vm.paaswordForm.type.$dirty"
                       ng-messages-multiple="ng-messages-multiple">
                     <small class="error" ng-message="required">{{'This field is mandatory.'|translate}}</small>
                  </div>
               </div>

               <!-- text -->
               <div class="small-12 column">
                  <textarea name="text" id="text" rows="10" ng-model="vm.password.text" placeholder="{{'Text shown when this password is used'|translate}}"
                            ng-class="{'error': (vm.paaswordForm.$submitted || vm.paaswordForm.text.$dirty) && vm.paaswordForm.text.$invalid}"
                            required class="radius">
                  </textarea>

                  <div ng-messages="vm.paaswordForm.text.$error" ng-if="vm.paaswordForm.$submitted || vm.paaswordForm.text.$dirty"
                       ng-messages-multiple="ng-messages-multiple">
                     <small class="error" ng-message="required">{{'This field is mandatory.'|translate}}</small>
                  </div>
               </div>

               <!-- buttons -->
               <div class="small-6 column">
                  <button type="button" class="expand radius no-margin" ng-click="vm.addPasswordCancel()" translate>Cancel</button>
               </div>
               <div class="small-6 column">
                  <button type="submit" class="expand radius no-margin" ng-click="vm.addPassword()" translate>Submit</button>
               </div>

            </form>
         </div>
      </div>
   </div>

   <!-- passwords -->
   <div class="small-12 column" ng-show="vm.encryptedPasswords.$value === null">
      <div class="panel radius" translate>No password is defined.</div>
   </div>

   <div class="small-12 column" ng-hide="vm.encryptedPasswords.$value === null">
      <table class="passwords">
         <thead>
            <tr>
               <th translate>Password</th>
               <th translate translate-comment="type of password (real/fake)">Type</th>
               <th class="hide-for-small" translate>Text</th>
               <th><i class="fi-trash"></i></th>
            </tr>
         </thead>
         <tbody>
            <tr ng-repeat="password in vm.decryptedPasswords | orderObjectBy:'decrypted'">
               <td>
                  <a class="show-for-small-only" ng-click="vm.openModal({password: password.decrypted, text: vm.getPasswordText(password.encrypted)})">
                     <span class="password">{{password.decrypted}}</span>
                  </a>
                  <span class="show-for-medium-up password">{{password.decrypted}}</span>
               </td>
               <td>
                  <i ng-class="{'fake':'alert-color', 'real':'success-color'}[vm.getPasswordType(password.encrypted)]"
                     class="fi-{{vm.getPasswordType(password.encrypted) === 'fake' ? 'x' : 'check'}} preffix"></i>
                  <span ng-class="{'fake':'alert-color', 'real':'success-color'}[vm.getPasswordType(password.encrypted)]">{{vm.getPasswordType(password.encrypted)}}</span>
               </td>
               <td class="hide-for-small">{{vm.getPasswordText(password.encrypted)}}</td>
               <td><i class="fi-trash button icon" ng-click="vm.deletePassword(password.encrypted)"></i></td>
            </tr>
         </tbody>
      </table>
   </div>

</div>